.show-photo
  height: 25%
  width: 25%
  object-fit: cover
  border-radius: 30px
  float: left
  margin: 10pt
  padding: 25px

.show-description
  font-size: 26pt
  font-weight: bold
  margin-bottom: 15px
  float: left
  padding: 25px

.show-title
  padding: 10pt

.show-overview
  padding: 10pt

.show-div
  border-style: solid
  padding: 10pt
  margin: 10pt

.download-button
  padding: 5pt
  margin: 10pt

.download-quality
  padding: 2pt
  margin: 2pt

.listing-location::before
  content: url('/assets/location-pin.svg') / ''

.show
  font-size: 22pt
  margin-bottom: 15px
  float: left
  padding: 25px


.listing-features > .section-heading
  color: var(--secondary-color)
  font-size: 22pt
  margin-bottom: 15px


.listing-features
  margin-bottom: 20px


.listing-features li
  font-size: 12pt


li
  list-style-type: none

.section-heading
  font-size: 24pt
  margin-bottom: 15px
  margin: 10pt


label, input
  display: block

label
  color: var(--secondary-color)
  font-weight: bold
  text-transform: uppercase
  font-size: 12pt

input
  font-size: 16pt
  margin-bottom: 15px
  padding: 10px
  width: 400px
  border-top: none
  border-right: none
  border-left: none
  border-bottom: solid .3px

@media (max-width: 1024px)
  .listing-photo
    width: 100%
    height: 400px

.gallery
  padding: 20px
  margin: 20px

.gallery-div
  padding: auto
  margin: auto

.titles
  display: inline
  padding: 10px
  margin: 10px

.results
  display: grid
  column-gap: 14px
  row-gap: 14px
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px))
  margin-top: 50px
  justify-content: space-around

input[type="text"]
  border: solid 1px var(--primary-color)
  padding: 10px
  border-radius: 8px
  margin-right: 4px
  display: inline-block
  width: 30%

button
  padding: 10px
  border: solid 1px var(--primary-color)
  background: var(--primary-color)
  color: white
  border-radius: 8px

.content-filter-form
  padding: 10px

.header-section
  padding: 10px
  margin: 10px

.select-section
  padding: 10px
  margin: 10px

.search-section
  padding: 10px
  margin: 10px

.filters-form
  padding: 10px
  margin: 10px

.filters-div
  padding: 5px
  margin: 5px
  display: inline-block

#filters
  padding: 10px
  margin: 10px

.filter-button
    background-color: #a15dfc

.big-btn 
    width: 95px
    height: 35px
