#discover-div
  display: table
  width: 100%
  table-layout: fixed
  border-spacing: 10px
  text-align: center

#discover-movies
  margin: 15pt
  padding: 5pt
  display: table-cell

#discover-shows
  margin: 15pt
  padding: 5pt
  display: table-cell

#search-div
  display: table
  width: 100%
  table-layout: fixed
  border-spacing: 10px
  text-align: center

#search-movies
  margin: 15pt
  padding: 5pt
  display: table-cell

#search-shows
  margin: 15pt
  padding: 5pt
  display: table-cell

.text
  padding: 5pt
  margin: 10pt

.movie-lists-div
  display: table
  width: 100%
  table-layout: fixed
  border-spacing: 10px
  text-align: center

#now-playing
  margin: 15pt
  padding: 5pt
  display: table-cell

#popular
  margin: 15pt
  padding: 5pt
  display: table-cell

#top-rated
  margin: 15pt
  padding: 5pt
  display: table-cell

#upcoming
  margin: 15pt
  padding: 5pt
  display: table-cell

