#the-spirits
  display: inline

#the-girls
  position: absolute
  left: 30%

#the-spirits
  position: absolute
  right: 0
  top: 0

.navbar-links
    margin-left: 250px
    margin-right: 250px
    background-color: #a15dfc

.button 
    background-color: #000000
    color: #FFFFFF
    padding: 10px
    border-radius: 10px
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    margin:10px


.small-btn 
    width: 50px
    height: 25px


.medium-btn 
    width: 70px
    height: 30px


.big-btn 
    width: 125px
    height: 65px
    position: relative
    bottom: 75px
    left: 100px

.dota-navbar 
  background-color: #111
  display: flex
  justify-content: space-between
  padding: 10px

  a 
    color: #ddd
    text-decoration: none
    margin: 0 15px
    text-transform: uppercase
    font-family: 'Pixel Font', sans-serif
    font-size: 16px
  

  .left-menu 
    display: flex
    align-items: center

    .dropdown 
      position: relative
      display: inline-block

      .dropdown-toggle 
        color: #ddd
        text-decoration: none
        margin: 0 15px
        text-transform: uppercase
        font-family: 'Pixel Font', sans-serif
        font-size: 16px
        cursor: pointer
      

      .dropdown-menu 
        display: none
        position: absolute
        background-color: #222
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        padding: 12px 16px
        z-index: 1

        a 
          color: #ddd
          text-decoration: none
          display: block
          margin: 5px 0
          text-transform: uppercase
          font-family: 'Pixel Font', sans-serif
          font-size: 14px

      &:hover .dropdown-menu 
        display: block
  
  .right-menu 
    a 
      color: #ff6046

.navbar-content 
  display: flex
  align-items: center

.menu-wrapper 
  display: flex
  justify-content: center
  flex-grow: 1


.left-menu 
  display: flex


.right-menu 
  margin-left: auto

#big-titty-waifu-svg
  display: block