<div class="container">
  <section class="header-section">
    <div id="filters">
      <label for="filters" id='filter-label'>Search for Shows:</label>
      <form class='filters-form' (ngSubmit)="getGenre(1)">
        <div class="filters-div">
          <label for="genre">Genre:</label>
          <select [(ngModel)]="genre" name="genres" id="genres" (ngModelChange)="getGenre(1)" class='select-section'>
            <option id="genre" *ngFor="let genre of genreDetails" value="{{genre.id}}">{{genre.name}}</option>
          </select>
        </div>

        <div class="filters-div">
          <label for="releaseYear">AirDate:</label>
          <input type='text' [(ngModel)]="airDate" name="airDate" id="airDate" class='select-section' />
        </div>

        <button class="button big-btn filter-button" type="submit">Search</button>
      </form>
    </div>

    <label for="filters" id='filter-label'>Filter Shows:</label>
    <form class="search-form">
      <input type="text" placeholder="Filter Show by Name" #filter>
      <button class="big-btn filter-button" type="button" (click)="filterResults(filter.value)">Filter</button>
    </form>
  </section>

  <div class="results" *ngIf="genre != 0">
    <div class="movie-item" *ngFor="let showItem of filteredShowsList">
      <div class="movie-info">
        <app-discover-show-list
          [tvShow]="showItem" [page]="this.page" [airDate]="this.airDate" [genre]="this.genre">
        </app-discover-show-list>
      </div>
    </div>
  </div>

  <footer class="paginator-container">
    <mat-paginator
      [length]="this.totalShows"
      [pageSize]="this.showsLength"
      aria-label="Select page"
      (page)="onPageChange($event)">
    </mat-paginator>
  </footer>
</div>
